#When the sequence is a DNA, the valid parameters are DNA_Matrix, mode, identityThr, and repeatLen.
#When the sequence is an amino acid, the valid parameters are aminoAcidMatrix, mode, similarityThr, and repeatLen.
fileType=0        #0 for DNA, 1 for amino acid
DNA_Matrix=0      #0 for BLAST matrix, 1 for Transition-transversion matrix - only valid for DNA.
aminoAcidMatrix=1 #0 for BLOSUM45, 1 for BLOSUM62, 2 for BLOSUM80, - only valid for amino acid.
                  #3 for BLOSUM90, 4 for PAM30, 5 for PAM70, 6 for PAM250 - only valid for amino acid.
mode=0,1          #0 for direct repeat, 1 for inverted repeat,
                  #2 for reverse complement - only valid for DNA, suitable for inferring reverse complement of RNA.
identityThr=0.85  #Identity threshold, indicating that only results greater than or equal to this threshold are output - only valid in the case of DNA.
similarityThr=0.85#Similarity threshold, indicating that only results greater than or equal to this threshold are output - only valid in the case of amino acid.
repeatLen=6       #A threshold for repeat or similar fragment length, indicating that only results greater than or equal to this threshold will be output.
