#When the sequence is a DNA, the valid parameters are mode and repeatLen.
#When the sequence is an amino acid, the valid parameters are mode and repeatLen.
fileType=0        #0 for DNA, 1 for amino acid
mode=0,1          #0 for direct repeat, 1 for inverted repeat,
                  #2 for reverse complement - only valid for DNA, suitable for inferring reverse complement of RNA.
repeatLen=6       #A threshold for repeat or similar fragment length, indicating that only results greater than or equal to this threshold will be output.
