#When the sequence is a DNA, the valid parameters are ideSimThr, windowSize, and mode.
#When the sequence is an amino acid, the valid parameters are ideSimThr, windowSize, mode, and aminoAcidMatrix.
ideSimThr=0.85    #Identity or similarity threshold, indicating that only results greater than or equal to this threshold are output.
windowSize=15     #Sliding window size threshold.
mode=0,1          #0 for direct repeat, 1 for inverted repeat.
aminoAcidMatrix=1 #0 for BLOSUM45, 1 for BLOSUM62, 2 for BLOSUM80, - only valid for amino acid.
                  #3 for BLOSUM90, 4 for PAM30, 5 for PAM70, 6 for PAM250 - only valid for amino acid.
fileType=0        #0 for DNA, 1 for amino acid				  
